@use '../../variables.scss';
@use '../../globalStyles.scss';

.app {  
    width: clamp(15rem, 90%, 100rem);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    column-gap: 0rem;
    align-items: center;
    justify-content: center;
    margin: auto;
}