@use '../../variables.scss';

.user-content {
    display: flex;
    flex-direction: column;

    .repos-section-wrapper {
        display: flex;
        border-block: 0.1rem solid variables.$borders;

        @media (max-width: 45rem) {
            flex-direction: column;
        }
    }
}