@use '../../variables.scss';
@use '../../globalStyles.scss';

.single-repo {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1rem;
    width: 100%;
    border-bottom: 0.1rem solid variables.$borders;



    &__repo-link {
        font-weight: bold;
        color: variables.$links;
    }

    &__privacy-status {
        background-color: variables.$primaryBgClr;
        pointer-events: none;
        font-size: variables.$ff-000;
        font-weight: 700;
        padding: 0.1rem 0.3rem;
        margin-left: 1rem;
        border: solid 0.1rem variables.$borders;
        border-radius: 10rem;
    }

    &__language {
        pointer-events: none;
        font-size: variables.$ff-100;
    }

}

.single-repo:hover,
.single-repo:focus-within        {
    background-color: lightblue;
}