
/**********/
/* Colors */
/**********/

$primaryBgClr: #FFFFFF;
$secondaryBgClr: rgb(193, 231, 233);

$veryLightTextClr: rgb(255, 255, 255);
$lightTextClr: rgb(101, 100, 100);
$darkTextClr: rgb(36, 41, 47);

$primaryBtnClr: rgb(44, 151, 75);
$secondaryBtnClr: rgb(243, 244, 246);

$borders: rgb(215, 215, 215);
$links: rgb(9, 125, 225);

$scrollBarTrack:rgb(217, 217, 217);
$scrollBarThumb:rgb(170, 170, 170);
$scrollBarThumbHover:rgb(106, 104, 104);

$messageError: rgb(232, 152, 152);
$messageInfo: rgb(181, 219, 245);


/**********/
/* Fonts */
/**********/

$primaryFont: 'Noto Sans', sans-serif;

/*************/
/* Font sizes */
/*************/

$ff-900:3rem;
$ff-800:2.875;
$ff-700:2.5rem;
$ff-600:2.25rem;
$ff-500:2rem;
$ff-400:1.875rem;
$ff-300:1.5rem;
$ff-200:1.25rem;
$ff-100:0.875rem;
$ff-000:0.7rem;


