
/**********/
/* Colors */
/**********/

$primaryBgClr: #FFFFFF;
$secondaryBgClr: rgb(193, 231, 233);
$lightTextClr: rgb(12, 34, 68);
$darkTextClr: rgb(36, 41, 47);
$primaryBtnClr: rgb(44, 151, 75);
$secondaryBtnClr: rgb(243, 244, 246);

/**********/
/* Fonts */
/**********/

$primaryFont: 'Noto Sans', sans-serif;
